/*RISCRITTURA BOOTSTRAP*/ 
nav{
    height: 50px;
}
.collapse{
    flex-grow: 0;
}
.navbar-brand{
    font-weight: bold;
}
.navbar-dark .navbar-toggler{
    border: 1px solid white;
}
/*FINE RISCRITTURA*/
.container-fluid{
    background-color: #19bc9b;
}
.header-content{
    text-align: center;
    margin: 50px;
    color: white;
}
header img{
    height: 150px;
}
header h1{
    font-weight:bold;   
}

.main-description{
    text-align: center;
    margin-top: 40px;
}

[class*=main-content]{
    height: 280px;
    margin-bottom: 24px;
    background-size: cover;
    background-position:center;
    border-radius: 10px;
}
.main-content-1{
    background-image: url(../img/cabin.png);
}
.main-content-2{
    background-image: url(../img/cake.png);
}
.main-content-3{
    background-image: url(../img/circus.png);
}
.main-content-4{
    background-image: url(../img/game.png);
}
.main-content-5{
    background-image: url(../img/safe.png);
}
.main-content-6{
    background-image: url(../img/submarine.png);
}
.article-container{
    background-color: #19bc9b;
    
}
.ab{
    background-color: #19bc9b;
}
article h1{
    text-align: center;
}
article .star{
    text-align: center;
}
.download{
    text-align: center;
}
.section-content{
    text-align: center;
}
.contact{
    border: none;
    width: 100%;
}