 
nav{
    background-color: black;
    height: 80px;
}
.container-fluid{
    background-color: #19bc9b;
}
.header-content{
    text-align: center;
    margin: 50px;
    color: white;
}
header img{
    height: 150px;
}
header h1{
    font-weight:bold;
    
}

/*
header > div{
    border: 3px solid white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    height: 50px;
    border-radius: 50px;   
}
*/
.main-description{
    text-align: center;
    margin-top: 50px;
}
 
.colored{
    height: 200px;
    background-color: tomato;
    margin-bottom: 24px;
}


article{
    background-color: teal;
    text-align: center;
}
article div{
    border: 2px solid black;
}

.row-about  {
    display: flex;
    justify-content: center;
    height: 150px;
    border: 2px solid cornsilk;
  
}
section{
    background-color: lightgreen;
    height: 300px;
}
section div:first-child{
    border: 2px solid black;
}
footer{
    height: 200px;
    background-color: lightslategrey;
}